mixin lang()
  .lang
    .lang__lang 
      h2.lang__title Владение языками
      .lang__items 
        .lang__languages Русский
        -var n = 0
        while n < 5 
          .lang__rating= n++
      .lang__items 
        .lang__languages English
        -var n = 0
        while n < 3
          .lang__rating= n++
        -var c = 0
        while c < 2
          .lang__rating.lang__rating--clear= c++
    //  .lang__items 
        .lang__languages french
        -var n = 0
        while n < 4
          .lang__rating= n++ 
        -var c = 0
        while c < 1
          .lang__rating.lang__rating--clear= c++
      .lang__items 
        .lang__languages italian
        -var n = 0
        while n < 3
          .lang__rating= n++
        -var c = 0
        while c < 2
          .lang__rating.lang__rating--clear= c++
      .lang__items 
        .lang__languages german
        -var n = 0
        while n < 2
          .lang__rating= n++
        -var c = 0
        while c < 3
          .lang__rating.lang__rating--clear= c++